:root {
    --primary-color: #0f1b4c;

    --background-header-color: #e6f0ff;
    --nav-color: #4f5361;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 4000px;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* --------- Common ----------- */

a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    border-radius: 1.2rem;
    background: var(--primary-color);

    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;

    padding: 18px 16px;
}

.btn:hover {
    opacity: 0.9;
}

/* --------- Header ----------- */

header.header {
    position: relative;
    height: 100vh;
    background-color: var(--background-header-color);
}

.navbar {
    padding-top: 38px;

    display: flex;
    align-items: center;
}

.navbar ul {
    margin-left: 50px;
    display: flex;
}

.navbar ul li a {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 14px;
    color: var(--nav-color);
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.navbar .actions {
    margin-left: auto;
}

.navbar .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
    margin-right: 18px;
}

.navbar .action-btn {
    padding: 13px 16px;
    border-radius: 0.8rem;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.01em;
}

.hero .title {
    color: #000336;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 7.6rem; /* 118.75% */
    margin-top: 8px;
}

.hero .desc {
    color: #5a6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem; /* 177.778% */

    margin-top: 30px;
}

.hero .hero-cta {
    margin-top: 40px;
    font-size: 1.3rem;
    width: 170px;
}

.hero .hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* --------- Clients ---------- */

.clients {
    margin-top: 122px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .row .desc {
    color: #7d8589;
    font-weight: 500;
    line-height: 20px;
}

.clients .images {
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ---------- Guides -------------- */

.guides {
    margin-top: 200px;
}

.guides .sub-title {
    color: #000339;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    line-height: 35px; /* 100% */

    position: relative;
}

.guides .sub-title::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background: var(--primary-color);

    border-radius: 999px;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
}

.guides .desc {
    color: #5a6473;

    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; /* 187.5% */

    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
}

.guides .list-guides {
    display: flex;
    justify-content: space-between;
    width: 685px;
    max-width: 100%;
    margin: 70px auto 0;
}

.guides .guide-item {
    text-align: center;
}

.guides .title {
    margin-top: 20px;
    color: #3b3c45;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px; /* 110% */
}

.guides .link {
    display: inline-block;
    margin-top: 10px;
    color: #0689ff;
    font-size: 14px;
    font-weight: 600;
    margin-right: 8px;
}

.guides .arrow {
    margin-left: 6px;
}

.guides .guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guides .guide-cta .btn {
    min-width: 170px;
    font-size: 1.3rem;
}

/* ---------- Featured -------------- */

.featured {
    margin-top: 120px;
    background-color: #f5fafe;
    padding: 110px 0px;
}

.featured .sub-title {
    color: #000339;
    font-size: 35px;
    font-weight: 600;
    line-height: 35px; /* 100% */
}

.featured .row {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured .desc {
    color: #5a6473;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}

.featured .link {
    color: #0689ff;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.featured .link img {
    margin-left: 8px;
}

.featured .list {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}

.featured .item {
    flex: 1;
    border-radius: 12px;
    font-size: 0;
}

.featured .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .body {
    padding: 17px 20px 24px;
    background-color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.featured .item .title {
    color: #000339;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px; /* 100% */
}

.featured .item .desc {
    margin-top: 11px;
    color: #a3a6ab;
    font-size: 14px;
    font-weight: 500;
}

.featured .item .info {
    margin-top: 23px;
    display: flex;
    align-items: center;
}

.featured .item .info .label {
    margin-left: 8px;
    color: #4d4d52;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px; /* 100% */
    letter-spacing: 0.14px;
}

.featured .item .info .icon:not(:first-child) {
    margin-left: 22px;
}
